body {
    margin: 0;
    line-height: 1.5;
}

h2 {
    font-size:2rem;
margin: 65px 0 20px 0;
text-align: center;
}

.subtitle{
    text-align: center;
    margin-bottom: 40px;
}

.textBox1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.textBox1 li:nth-child(4n+1):nth-last-child(-n+4) ~ li {
    margin-bottom: 40px;
}

.btn {
    margin: auto auto 80px auto;
    width: 20%;
    background-color: #2a5f91;
    padding: 10px 40px;
    text-align: center;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

ul .textBox1_content {
    width: calc(85%/3);
    list-style: none;
    background-color: aliceblue;
    margin: 0.5%;
    padding: 1.3%;
}

.title-text {
    font-weight: 900;
}

.textBox2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

ul .textBox2_content {
    width: calc(85%/2);
    list-style: none;
    background-color: #fff;
    margin: 0.5%;
    padding: 1.3%;
}

.section2{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-bottom: 180px;
}

.section2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 80%;
    margin: 3% -10% 0;
    background: #e1e3e6;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    z-index: -1;
}

.section2__inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 110px 10px 120px;
    text-align: center;
}

